<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148820218930-n3u4nb7viqhqsfjj4ios02datfer72s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148820218930-n3u4nb7viqhqsfjj4ios02datfer72s9</string>
	<key>API_KEY</key>
	<string>AIzaSyCMcpy6HoQR3XcnDoMQiM61Q5QRb039EaU</string>
	<key>GCM_SENDER_ID</key>
	<string>148820218930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivictim.ivictim</string>
	<key>PROJECT_ID</key>
	<string>ivictim-61de3</string>
	<key>STORAGE_BUCKET</key>
	<string>ivictim-61de3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148820218930:ios:5bae870b8f89bac9b0d82b</string>
</dict>
</plist>